
.form-container {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 40px auto;
    max-width: 400px;
    background-color: #fff;
}

label {
    font-weight: 500;
}

.btn-warning {
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
}

#login {
    color: #007bff;
    border-bottom: 1px solid transparent;
}

#login:hover {
    color: orange;
    border-color: #007bff;
}

.form-check {
    margin-left: 5px;
}
